@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

:root {
	--Soft-Blue: hsl(231, 69%, 60%);
	--Soft-Red: hsl(0, 94%, 66%);
	--Grayish-Blue: hsl(229, 8%, 60%);
	--Very-Dark-Blue: hsl(229, 31%, 21%);
	--Very-Dark-Blue-nav: hsla(229, 31%, 21%, 0.8);
	--Font-Family: "Rubik", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	width: 100%;
	height: 100vh;
	font-size: 13px;
	align-items: center;
	font-family: var(--Font-Family);
}

h1,
h2,
h3,
h4 {
	color: var(--Very-Dark-Blue);
	font-weight: 700;
}

p {
	color: var(--Grayish-Blue);
	font-size: 18px;
	line-height: 1.7em;
}

.header {
	padding: 2rem;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-img {
	height: 20px;
	z-index: 1000;
	fill: white;
}

.sr-only {
	visibility: hidden;
}

.mobile-nav-toggle {
	display: none;
}

hr {
	display: none;
}
.nav-bar {
	list-style-type: none;
	display: flex;
	gap: 3rem;
	align-items: center;
	padding: 0;
	margin: 0;
}

.nav-bar a {
	color: var(--Soft-Blue);
	text-decoration: none;
}

.login a {
	background-color: var(--Soft-Red);
	color: var(--Grayish-Blue);
	padding: 9px 30px;
	border-radius: 4px;
}

.social-media {
	display: none;
}

@media screen and (max-width: 35em) {
	.nav-bar {
		background-color: var(--Very-Dark-Blue-nav);
		flex-direction: column;
		padding: min(17vh, 10rem) 2em;
		position: fixed;
		inset: 0 0 0 0%;
		z-index: 900;
		gap: 1.5rem;
		transform: translateX(100%);
		transition: transform 350ms ease-out;
	}

	.nav-bar[data-visible="true"] {
		transform: translateX(0%);
	}

	.nav-bar a {
		color: white;
		font-size: 18px;
	}

	.login {
		margin-top: 2rem;
	}

	.login a {
		background-color: transparent;
		border: 2px solid white;
		padding: 10px 181px;
	}

	hr {
		display: block;
		width: 90%;
		margin: 0;
		padding: 0;
		border: 0.5px solid var(--Grayish-Blue);
	}

	.mobile-nav-toggle {
		display: block;
		position: absolute;
		right: 2rem;
		background-image: url(images/icon-hamburger.svg);
		background-repeat: no-repeat;
		width: 1.5rem;
		border: none;
		background-color: transparent;
		cursor: pointer;
		z-index: 1000;
	}

	.mobile-nav-toggle[aria-expanded="true"] {
		background-image: url(images/icon-close.svg);
	}

	.social-media {
		position: absolute;
		bottom: 1rem;
		display: block;
		display: flex;
		gap: 2rem;
	}
}

.hero {
	margin: 0;
	position: relative;
	z-index: -2;
}

.hero-img {
	width: 90%;
	z-index: 10;
}

.hero-shape {
	margin: 0;
	overflow-x: hidden;
	position: absolute;
	width: 60%;
	height: 200px;
	background-color: var(--Soft-Blue);
	right: 0;
	bottom: 0;
	border-radius: 100px 0 0 100px;
	z-index: -1;
}

.book-mark {
	display: flex;
	flex-direction: column;
}

.bookmark-text {
	text-align: center;
	margin-top: 3em;
}

.bookmark-text h1 {
	text-align: center;
	font-size: 25px;
	margin: 1em;
	line-height: 1.7em;
}

.bookmark-text p {
	margin: 1.5em;
	margin-inline: 1.5em;
	font-size: 18px;
}

.bookmark-link {
	margin-inline: 1em;
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	margin-bottom: 8em;
}

.chrome {
	background-color: var(--Soft-Blue);
	color: white;
	padding: 17px 28px;
	cursor: pointer;
	border-radius: 8px;
	border: none;
	font-weight: bolder;
}

.fire-fox {
	color: var(--Grayish-Blue);
	padding: 17px 28px;
	cursor: pointer;
	border-radius: 8px;
	border: none;
	font-weight: bolder;
}

.features {
	margin: 0.5em;
	text-align: center;
	margin-top: 3em;
}

.features h2 {
	font-size: 25px;
	margin: 0.5em;
}

.features p {
	margin: 0.5em;
	margin-inline: 0.5em;
}

.browser {
	text-align: center;
	margin: 2em;
}

.browser h2 {
	margin-top: 2em;
	font-size: 25px;
	padding-bottom: 0.5em;
}

.browser p {
	padding-bottom: 3em;
}

.browser-intro {
	margin-top: 2em;
	margin-bottom: 5em;
	padding-bottom: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
}

.browser hr {
	width: 100%;
	position: relative;
	border: none;
	border-top: 5px dotted var(--Grayish-Blue);
}
.browser-card {
	border: none;
	box-shadow: 0 5px 9px 1px hsl(223, 15%, 47%);
	width: 280px;
	border-radius: 14px;
}

.browser-img {
	margin: 2em;
}

.browser-card p {
	font-size: 15px;
	margin: 0.5em;
	padding-bottom: 2em;
}

.browser-card h3 {
	font-size: 20px;
}

.ext-link {
	margin-block: 2em;
	padding: 15px 30px;
	background-color: var(--Soft-Blue);
	color: white;
	border: none;
	border-radius: 8px;
}

.ext-link:hover {
	color: var(--Soft-Blue);
	border: 1px solid var(--Soft-Blue);
	background-color: transparent;
	cursor: pointer;
}

.faq-text {
	padding-bottom: 1rem;
	text-align: center;
	margin-inline: 2em;
}

.faq-text h2 {
	font-size: 25px;
	padding-bottom: 1em;
}

.text {
	margin: 1em;
	margin-top: 3em;
	text-align: center;
	margin-inline: 1em;
	margin-bottom: 5em;
}

.accordion {
	margin: 0.5em;
	padding: 10px;
	border: none;
	background-color: transparent;
	color: var(--Very-Dark-Blue);
	font-weight: 700;
	font-size: 16px;
	border: none;
	cursor: pointer;
	width: 100%;
	text-align: left;
	outline: none;
	transition: 0.4s;
}

.accordion:after {
	content: url(images/icon-arrow.svg);
	float: right;
	transform: rotateX(0deg);
}

.active:after {
	transform: rotateX(180deg);
}

.active,
.accordion:hover {
	font-weight: 700;
}

.panel p {
	margin-inline: 0;
}

.panel {
	text-align: left;
	padding: 0px 18px;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.faq-info {
	text-align: center;
}

.faq-link {
	text-align: center;
	padding: 12px 35px;
	background-color: var(--Soft-Blue);
	border-radius: 6px;
	text-decoration: none;
	border: none;
	color: white;
	font-weight: bold;
}

.contact {
	margin-inline: 0;
	margin-top: 7rem;
	padding-bottom: 5rem;
	background-color: var(--Soft-Blue);
	text-align: center;
}

.contact p {
	font-size: 11px;
	padding-top: 9rem;
	color: white;
	letter-spacing: 7px;
	margin: 1em;
}

.contact h2 {
	font-size: 30px;
	margin-inline: 1em;
	color: white;
}

.news-letter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
	gap: 3rem;
}

.error-cont {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	/* width: 100%; */
	background-color: aqua;
	height: 2rem;
	z-index: 1;
}

#email {
	position: absolute;
	min-width: 350px;
	font-size: 18px;
	padding: 14px 28px;
	border-radius: 8px;
	border: none;
	margin: 0;
	z-index: 30;
}

#error {
	display: none;
}

#error.color {
	display: block;
	min-width: 350px;
	position: absolute;
	font-size: 15px;
	right: -11rem;
	bottom: -2.5em;
	letter-spacing: normal;
	text-align: left;
	font-style: italic;
	border-radius: 0 0 8px 8px;
	padding: 1rem 0 0 1rem;

	margin: 0;
	background-color: var(--Soft-Red);
	z-index: 1;
}

#email.color {
	border-radius: 8px;
	border: 1px solid var(--Soft-Red);
}

.contact-link {
	background-color: var(--Soft-Red);
	color: white;
	min-width: 350px;
	font-size: 16px;
	font-weight: 700;
	border: none;
	padding: 14px 18px;
	border-radius: 4px;
	cursor: pointer;
}

.contact-link:hover {
	color: var(--Soft-Red);
	background-color: white;
	border: 1px solid var(--Soft-Red);
}

footer {
	padding-inline: 1.5rem;
	background-color: red;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.footer-link {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.footer-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	list-style: none;
}

.footer-nav a {
	font-size: 18px;
	text-decoration: none;
	color: white;
}

.footer-nav a:hover {
	color: var(--Soft-Red);
}

.footer-social {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 35em) {
	footer {
		height: auto;
		display: flex;
		flex-direction: column;
	}

	.footer-link {
		flex-direction: column;
		padding: 3rem 0 2rem 0;
	}

	.footer-nav {
		flex-direction: column;
	}

	.footer-social {
		padding-bottom: 3rem;
	}
}
